a:hover, button:hover, input[type="submit"]:hover {
  -webkit-transition: all 0.8s ease;
  -webkit-transition--moz-transition: all 0.8s ease;
  -webkit-transition--o-transition: all 0 0.8s ease;
  -webkit-transition-transition: all 0.8s ease;
}

button, input[type="submit"] {
  cursor: pointer;
}

body {
  font-family: 'Arial';
  font-size: 14px;
  color: #1a1a1a;
}

/*HEADER*/
header {
  min-height: 84px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 0 130px;
  z-index: 99;
}

header .logo {
  float: left;
  margin-top: 17px;
}

header .logo img {
  height: 50px;
}

header .top-menu {
  float: left;
  margin-left: 50px;
  margin-top: 40px;
}

header .top-menu li {
  display: inline-block;
  margin-right: 20px;
}

header .top-menu li a {
  font-family: 'Arial';
  color: #1a1a1a;
  font-size: 16px;
  text-decoration: none;
}

header .top-menu li a:hover {
  color: #ffba00;
}

header .top-menu li:last-child {
  margin-right: 0;
}

header .basket {
  float: right;
  width: 249px;
  height: 84px;
  background-color: #2bb21d;
  display: table;
  padding-left: 33px;
  box-sizing: border-box;
}

header .basket .total-items,
header .basket .favorite {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

header .basket .total-items:hover,
header .basket .favorite:hover {
  color: #ffba00;
}

header .basket .total-items i,
header .basket .favorite i {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

header .basket .total-items i span,
header .basket .favorite i span {
  color: #ffba00;
  font-family: 'Arial-Black';
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  right: -10px;
}

header .basket .total-items {
  width: 120px;
}

header .basket .total-items:before {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 19px;
  background-color: #27991b;
  right: 0;
  top: 37%;
}

header .basket .total-items i {
  background: url("../images/basket-icon.png") no-repeat;
  margin-right: 6px;
}

header .basket .total-items i span {
  right: -5px;
}

header .basket .favorite {
  padding-left: 23px;
}

header .basket .favorite i {
  background: url("../images/fav.png") no-repeat;
}

/*END HEADER*/
/*LEFT MENU*/
.left-menu-wrapper {
  float: left;
  width: 16.4142%;
}

.left-menu-wrapper ul {
  width: 100%;
}

.left-menu-wrapper ul li {
  display: table;
  width: 100%;
  position: relative;
}

.left-menu-wrapper ul li a {
  font-family: 'Arial';
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #23a622;
  display: block;
  height: 86px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 0px 0 40px;
  position: relative;
  background-color: #2bb21d;
}

.left-menu-wrapper ul li a i {
  width: 58px;
  height: 40px;
  display: inline-block;
  background: url("../images/icons-right-left-menu.png") no-repeat;
  vertical-align: middle;
  margin-right: 20px;
  position: relative;
}

.left-menu-wrapper ul li a i.icon-left1 {
  background-position: 0 5px;
}

.left-menu-wrapper ul li a i.icon-left2 {
  background-position: 0 -83px;
}

.left-menu-wrapper ul li a i.icon-left3 {
  background-position: 0 -171px;
}

.left-menu-wrapper ul li a i.icon-left4 {
  background-position: 0 -260px;
}

.left-menu-wrapper ul li a i.icon-left5 {
  background-position: 0 -346px;
}

.left-menu-wrapper ul li a i:before {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #23a622;
  right: 0;
}

.left-menu-wrapper ul li a:hover {
  background-color: #1e8c12;
}

.left-menu-wrapper ul li a:before {
  position: absolute;
  content: '';
  display: block;
  width: 4px;
  height: 7px;
  right: 19px;
  background: url("../images/arrow-small.png") no-repeat;
  top: 44%;
}

.left-menu-wrapper ul li:hover ul {
  left: 100%;
  visibility: visible;
  opacity: 1;
  z-index: 2000;
}

.left-menu-wrapper ul li ul {
  -webkit-transition: left .3s ease 0s,opacity .3s;
  transition: left .3s ease 0s,opacity .3s;
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  left: 130%;
  top: 0px;
  width: 240px;
  border-right: none;
  border: 1px solid #f2f2f2;
}

.left-menu-wrapper ul li ul li a {
  background-color: #FFF;
  border-bottom: 1px solid #f2f2f2;
  height: 28px;
  color: #1a1a1a;
  font-family: 'Arial';
  font-size: 12px;
  padding: 0 20px;
}

.left-menu-wrapper ul li ul li a:hover {
  background-color: #ffba00;
  color: #fff;
}

.left-menu-wrapper ul li ul li a:before {
  display: none;
}

.contacts-left-wrap,
.contacts-wrap {
  text-align: center;
}

.contacts-left-wrap .contacts-left-title,
.contacts-wrap .contacts-left-title {
  color: #1a1a1a;
  font-family: 'Arial-Black';
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 60px;
}

.contacts-left-wrap .contacts-left-block,
.contacts-wrap .contacts-left-block {
  margin-top: 45px;
}

.contacts-left-wrap .contacts-left-block .contacts-left-block-title,
.contacts-wrap .contacts-left-block .contacts-left-block-title {
  color: #1a1a1a;
  font-family: 'Arial';
  font-size: 14px;
  margin-bottom: 15px;
}

.contacts-left-wrap .contacts-left-block .contacts-left-block-phone,
.contacts-wrap .contacts-left-block .contacts-left-block-phone {
  font-family: 'Arial-BoldMT';
  color: #1a1a1a;
  font-size: 22px;
  margin-bottom: 6px;
}

.contacts-left-wrap .contacts-left-block .contacts-left-block-mail,
.contacts-wrap .contacts-left-block .contacts-left-block-mail {
  font-family: 'Arial-BoldMT';
  color: #1a1a1a;
  font-size: 22px;
  border-bottom: 1px dotted #1a1a1a;
  text-decoration: none;
  display: inline-block;
}

.contacts-left-wrap .contacts-left-block .contacts-left-block-link,
.contacts-wrap .contacts-left-block .contacts-left-block-link {
  color: #ffba00;
  color-font-size: 12px;
  font-family: 'Arial';
  border-bottom: 1px dotted #ffba00;
  display: inline-block;
  text-decoration: none;
}

.contacts-left-wrap .contacts-left-block .social-wrap a,
.contacts-wrap .contacts-left-block .social-wrap a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/social.png") no-repeat;
  margin: 0 10px;
}

.contacts-left-wrap .contacts-left-block .social-wrap a.facebook,
.contacts-wrap .contacts-left-block .social-wrap a.facebook {
  background-position: 6px 2px;
}

.contacts-left-wrap .contacts-left-block .social-wrap a.instagram,
.contacts-wrap .contacts-left-block .social-wrap a.instagram {
  background-position: -38px 2px;
}

.contacts-left-wrap .contacts-left-block .social-wrap a.youtube,
.contacts-wrap .contacts-left-block .social-wrap a.youtube {
  background-position: -91px 2px;
}

.contacts-left-wrap .contacts-left-block .social-wrap a.twitter,
.contacts-wrap .contacts-left-block .social-wrap a.twitter {
  background-position: -145px 2px;
}

.contacts-left-wrap .contacts-left-block .social-wrap a.odnoklasniki,
.contacts-wrap .contacts-left-block .social-wrap a.odnoklasniki {
  background-position: -195px 2px;
}

/*END LEFT MENU*/
/*MAIN SLIDER*/
.main-slider-wrap {
  width: 83.47%;
  float: left;
}

.main-slider-wrap .bx-wrapper {
  margin-bottom: 70px !important;
}

.main-slider-wrap .bxslider li {
  background-size: cover;
}

.main-slider-wrap .bxslider li.first-slide {
  background: url("../images/slider-main-img1.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.second-slide {
  background: url("../images/slider-main-img2.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.third-slide {
  background: url("../images/slider-main-img3.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.four-slide {
  background: url("../images/slider-main-img4.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.five-slide {
  background: url("../images/slider-main-img5.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.six-slide {
  background: url("../images/slider-main-img6.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.seven-slide {
  background: url("../images/slider-main-img7.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li.eight-slide {
  background: url("../images/slider-main-img8.jpg") no-repeat center;
}

.main-slider-wrap .bxslider li .slider-text {
  float: right;
  min-width: 300px;
}

.main-slider-wrap .bxslider li .slider-text .slider-text-inside {
  padding-top: 110px;
  padding-right: 50px;
}

.main-slider-wrap .bxslider li .slider-text .slider-text-inside .title {
  font-family: 'Arial-Black';
  font-size: 80px;
  color: #1a1a1a;
  background: url("../images/spot.png") no-repeat;
  background-position: 0 10px;
  text-align: center;
  background-size: 100%;
}

.main-slider-wrap .bxslider li .slider-text .slider-text-inside .sub-title {
  font-family: 'Arial-Black';
  color: #1a1a1a;
  font-size: 16px;
  margin: 20px 0;
  padding-left: 55px;
}

.main-slider-wrap .bxslider li .slider-text .slider-text-inside li {
  background: none;
  color: #1a1a1a;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: 400;
  line-height: 47px;
  height: auto !important;
  padding-left: 55px;
}

.main-slider-wrap .bxslider li .slider-text .slider-text-inside hr {
  background-color: #1a1a1a;
  height: 2px;
  border: none;
  outline: none;
  width: 198px;
  float: left;
  margin-left: 55px;
}

.main-slider-wrap .bxslider li .slider-text .slider-text-inside .total-weight {
  font-family: 'Arial-Black';
  color: #1a1a1a;
  font-size: 16px;
  clear: both;
  padding-left: 55px;
}

/*END MAIN SLIDER*/
/*MAIN CONTENT*/
.video-block {
  margin: 0 auto 0px auto;
  position: relative;
  display: block;
  text-align: center;
}

.video-block:before {
  position: absolute;
  content: '';
  display: block;
  width: 859px;
  height: 52px;
  background: url("../images/shadow.png") no-repeat;
  margin: 0 auto;
  left: -38px;
  right: 0;
  bottom: -47px;
}

.collection-title {
  font-family: 'Arial-Black';
  font-size: 18px;
  color: #c5c5c5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.collection-wrap,
.catalog-page-wrap {
  background: url("../images/collection-bg.jpg") no-repeat;
  padding-top: 120px;
  box-sizing: border-box;
}

.collection-wrap .collection-slider,
.catalog-page-wrap .collection-slider {
  padding: 0 130px;
}

.collection-wrap .collection-slider .bx-wrapper .bx-controls-direction a,
.catalog-page-wrap .collection-slider .bx-wrapper .bx-controls-direction a {
  width: 64px;
  height: 20px;
}

.collection-wrap .collection-slider .bx-wrapper .bx-controls-direction a.bx-prev,
.catalog-page-wrap .collection-slider .bx-wrapper .bx-controls-direction a.bx-prev {
  background: url("../images/arrow_left.png") no-repeat;
  left: -54px;
}

.collection-wrap .collection-slider .bx-wrapper .bx-controls-direction a.bx-next,
.catalog-page-wrap .collection-slider .bx-wrapper .bx-controls-direction a.bx-next {
  background: url("../images/arrow_right.png") no-repeat;
  right: -42px;
}

.collection-wrap .collection-slider .collection-blocks,
.collection-wrap .collection-slider .catalog-block,
.catalog-page-wrap .collection-slider .collection-blocks,
.catalog-page-wrap .collection-slider .catalog-block {
  width: 21.4%;
  margin-right: 30px;
  float: left;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 5px;
}

.collection-wrap .collection-slider .collection-blocks:nth-child(1) .collection-blocks-inside:before,
.collection-wrap .collection-slider .catalog-block:nth-child(1) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .collection-blocks:nth-child(1) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .catalog-block:nth-child(1) .collection-blocks-inside:before {
  background-color: #ffff00;
}

.collection-wrap .collection-slider .collection-blocks:nth-child(2) .collection-blocks-inside:before,
.collection-wrap .collection-slider .catalog-block:nth-child(2) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .collection-blocks:nth-child(2) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .catalog-block:nth-child(2) .collection-blocks-inside:before {
  background-color: #f7941d;
}

.collection-wrap .collection-slider .collection-blocks:nth-child(3) .collection-blocks-inside:before,
.collection-wrap .collection-slider .catalog-block:nth-child(3) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .collection-blocks:nth-child(3) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .catalog-block:nth-child(3) .collection-blocks-inside:before {
  background-color: #ff0000;
}

.collection-wrap .collection-slider .collection-blocks:nth-child(4) .collection-blocks-inside:before,
.collection-wrap .collection-slider .catalog-block:nth-child(4) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .collection-blocks:nth-child(4) .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .catalog-block:nth-child(4) .collection-blocks-inside:before {
  background-color: #39b54a;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside {
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  min-height: 353px;
  position: relative;
  z-index: 99;
  margin-bottom: 27px;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside:before,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside:before,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside:before {
  position: absolute;
  content: '';
  display: block;
  width: 55px;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -3px;
  margin: 0 auto;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .open-modal,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .open-modal,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .open-modal,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .open-modal {
  float: right;
  display: block;
  width: 31px;
  height: 30px;
  background: url("../images/icon-modal.png") no-repeat;
  margin-top: 24px;
  margin-right: 24px;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .main-img,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .main-img,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .main-img,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .main-img {
  margin: auto;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars {
  margin-left: 20px;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars a,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars a,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars a,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars a {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url("../images/stars-rate.png") no-repeat;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars a.golden-star,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars a.golden-star,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars a.golden-star,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars a.golden-star {
  background-position: 0 0;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars a.grey-star,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars a.grey-star,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .rating-stars a.grey-star,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .rating-stars a.grey-star {
  background-position: -17px 0;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection {
  padding: 0 20px;
  font-family: 'Arial';
  font-size: 14px;
  color: #1a1a1a;
  margin-top: 20px;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection .l-info,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection .l-info,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection .l-info,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection .l-info {
  float: left;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection .l-info span,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection .l-info span,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection .l-info span,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection .l-info span {
  font-family: 'Arial-BoldMT';
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection .r-info,
.collection-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection .r-info,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-inside .info-collection .r-info,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-inside .info-collection .r-info {
  float: right;
  font-family: 'Arial-BoldMT';
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-outside,
.collection-wrap .collection-slider .catalog-block .collection-blocks-outside,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-outside,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-outside {
  padding: 0;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-outside .button-fav,
.collection-wrap .collection-slider .catalog-block .collection-blocks-outside .button-fav,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-outside .button-fav,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-outside .button-fav {
  float: left;
  padding: 0 24px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-outside .button-fav .add-fav,
.collection-wrap .collection-slider .catalog-block .collection-blocks-outside .button-fav .add-fav,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-outside .button-fav .add-fav,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-outside .button-fav .add-fav {
  width: 23px;
  height: 19px;
  background: url("../images/add-fav.png") no-repeat;
  display: block;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-outside .add-to-basket,
.collection-wrap .collection-slider .catalog-block .collection-blocks-outside .add-to-basket,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-outside .add-to-basket,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-outside .add-to-basket {
  float: right;
  font-family: 'Rubik-Black';
  font-size: 11px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5px;
}

.collection-wrap .collection-slider .collection-blocks .collection-blocks-outside .add-to-basket:hover,
.collection-wrap .collection-slider .catalog-block .collection-blocks-outside .add-to-basket:hover,
.catalog-page-wrap .collection-slider .collection-blocks .collection-blocks-outside .add-to-basket:hover,
.catalog-page-wrap .collection-slider .catalog-block .collection-blocks-outside .add-to-basket:hover {
  color: #ffd154;
}

/*END MAIN CONTENT*/
/*MAIN FORM*/
.reviews-main {
  width: 50.001%;
  height: 350px;
  background: url("../images/bg_reviews.jpg") no-repeat center;
  float: left;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
}

.reviews-main .review-avatar {
  margin: auto;
}

.reviews-main .text-review {
  color: #1a1a1a;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 27px;
  margin: 25px 109px;
  position: relative;
}

.reviews-main .text-review:before {
  position: absolute;
  content: '';
  display: block;
  width: 75px;
  height: 55px;
  background: url("../images/quote.png") no-repeat;
  top: -30px;
  left: 10px;
  z-index: -1;
}

.reviews-main .fio-review {
  font-family: 'Arial-BoldMT';
  color: #1a1a1a;
  font-size: 16px;
  line-height: 28px;
}

.reviews-main .bx-wrapper .bx-controls-direction a {
  bottom: -50px;
}

.form-main {
  width: 50%;
  height: 395px;
  background: url("../images/bg-main-form.png") no-repeat;
  float: left;
  background-size: 100% 100%;
  margin-top: -45px;
  position: relative;
  box-sizing: border-box;
  padding-top: 200px;
  padding-left: 159px;
}

.form-main:before {
  position: absolute;
  content: '';
  display: block;
  width: 619px;
  height: 274px;
  background: url("../images/form-img.png") no-repeat;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(50% 0%, 81% 0, 100% 0, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 100%, 33% 20%);
  -webkit-clip-path-clip-path: polygon(50% 0%, 81% 0, 100% 0, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 100%, 33% 20%);
}

.form-main .form-main-input {
  height: 61px;
  background-color: white;
  border-radius: 4px 0px 0px 4px;
  border: none;
  outline: none;
  color: #d1d1d1;
  font-family: 'Arial';
  font-size: 16px;
  padding-left: 30px;
  box-sizing: border-box;
  float: left;
  min-width: 320px;
}

.form-main .form-main-submit {
  float: left;
  background-color: #FFF;
  height: 61px;
  border: none;
  outline: none;
  font-family: 'Arial-Black';
  font-size: 12px;
  text-transform: uppercase;
  z-index: 9;
  position: relative;
  padding-right: 30px;
  padding-left: 10px;
  border-radius: 0px 4px 0px 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.form-main .form-main-submit:hover {
  background-color: #ffba00;
  color: #fff;
}

/*END MAIN FORM*/
/*SEO TEXT*/
.seo-wrap {
  margin: 60px 0;
}

.seo-wrap .img-side {
  width: 38%;
  float: left;
}

.seo-wrap .img-side img {
  max-width: 100%;
}

.seo-wrap .seo-text {
  width: 44%;
  float: left;
  padding-right: 130px;
  padding-left: 100px;
  padding-top: 50px;
}

.seo-wrap .seo-text h1 {
  font-family: 'Arial-Black';
  font-size: 24px;
  color: #1a1a1a;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.seo-wrap .seo-text h2 {
  font-family: 'Arial-BoldMT';
  font-size: 15px;
  color: #1a1a1a;
  margin-bottom: 30px;
  line-height: 23px;
}

.seo-wrap .seo-text p {
  margin-bottom: 30px;
  font-family: 'Arial';
  font-size: 14px;
  color: #1a1a1a;
  line-height: 23px;
}

/*END SEO TEXT*/
/*FOOTER*/
.footer_bg {
  background-color: #f8f8f8;
}

.footer_bg .footer-list-bottom-block {
  display: inline-block;
  padding-top: 40px;
  vertical-align: top;
  border-right: 1px solid #efefef;
  padding-bottom: 30px;
  min-height: 215px;
  position: relative;
}

.footer_bg .footer-list-bottom-block:last-child {
  border-right: none;
}

.footer_bg .footer-list-bottom-block .footer-list-bottom-block-title {
  color: #1a1a1a;
  font-family: 'Arial-Black';
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.footer_bg .footer-list-bottom-block ul {
  display: inline-block;
  margin: 0 42px;
}

.footer_bg .footer-list-bottom-block ul li {
  margin-bottom: 11px;
}

.footer_bg .footer-list-bottom-block ul li a {
  color: #1a1a1a;
  font-family: 'Arial';
  font-size: 12px;
  text-decoration: none;
}

.footer_bg .footer-list-bottom-block ul li a:hover {
  color: #ffba00;
}

.footer_bg .copyright {
  color: #8f8f8f;
  font-family: 'Arial';
  font-size: 11px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

/*END FOOTER*/
/*CATALOG ITEMS*/
.breadcrumbs {
  margin: 38px 0 38px 38px;
}

.breadcrumbs li {
  color: #ffba00;
  font-size: 14px;
  font-family: 'Arial';
  display: inline-block;
}

.breadcrumbs li span {
  margin: 0 4px;
  color: #1a1a1a;
}

.breadcrumbs li a {
  color: #1a1a1a;
  text-decoration: none;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.catalog-page-wrap {
  padding-top: 0;
}

.catalog-page-wrap .catalog-block {
  margin-bottom: 49px;
}

.catalog-page-wrap .catalog-block .collection-blocks-inside img {
  margin: auto;
  display: block;
}

.catalog-page-wrap .collection-slider {
  padding: 0 70px;
}

/*END CATALOG ITEMS*/
/*CATALOG ITEMS PAGE*/
.main-catalog-bg {
  background-size: 100% !important;
}

.main-catalog-bg .main-slider-wrap-info {
  width: 314px;
  min-height: 320px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
  float: right;
  margin-top: 50px;
  margin-right: 130px;
  padding: 15px;
  box-sizing: border-box;
}

.main-catalog-bg .main-slider-wrap-info .main-slider-wrap-info-title {
  text-align: center;
  color: #1a1a1a;
  font-family: Arial;
  font-size: 14px;
  font-family: 'Arial-Black';
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}

.main-catalog-bg .main-slider-wrap-info .rating-stars {
  clear: both;
}

.main-catalog-bg .main-slider-wrap-info .rating-stars a {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url("../images/stars-rate.png") no-repeat;
}

.main-catalog-bg .main-slider-wrap-info .rating-stars a.golden-star {
  background-position: 0 0;
}

.main-catalog-bg .main-slider-wrap-info .rating-stars a.grey-star {
  background-position: -17px 0;
}

.main-catalog-bg .main-slider-wrap-info .main-slider-wrap-info-status {
  color: #cacaca;
  font-family: 'Arial-BoldMT';
  font-size: 12px;
  float: right;
  margin-top: 50px;
}

.main-catalog-bg .main-slider-wrap-info .main-slider-wrap-info-price {
  font-family: 'Arial-Black';
  font-size: 60px;
  color: #1a1a1a;
  margin: 20px 0;
}

.main-catalog-bg .main-slider-wrap-info .main-slider-wrap-info-price span {
  font-size: 24px;
}

.main-catalog-bg .main-slider-wrap-info .main-slider-wrap-info-buttons .add-fav {
  width: 62px;
  height: 56px;
  background: #2bb21d url("../images/fav.png") no-repeat 50%;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.main-catalog-bg .main-slider-wrap-info .main-slider-wrap-info-buttons .buy {
  width: 217px;
  height: 56px;
  background-color: #ffba00;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Arial-Black';
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 56px;
  text-align: center;
  margin-left: 1px;
}

.main-catalog-tabs {
  padding-left: 130px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-catalog-tabs .korpus > div, .main-catalog-tabs .korpus > input {
  display: none;
  text-align: left;
  margin-top: 50px;
}

.main-catalog-tabs .korpus label {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-family: 'Arial-Black';
  font-size: 12px;
  color: #1a1a1a;
  margin-right: 160px;
}

.main-catalog-tabs .korpus label:nth-child(6) {
  margin-right: 0;
}

.main-catalog-tabs .korpus input[type="radio"]:checked + label {
  color: #ffba00;
}

.main-catalog-tabs .korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.main-catalog-tabs .korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.main-catalog-tabs .korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
  display: block;
}

.main-catalog-tabs .feature {
  padding-right: 130px;
}

.main-catalog-tabs .feature ul li {
  margin-bottom: 25px;
}

.main-catalog-tabs .feature ul li .left-col {
  font-family: 'Arial-BoldMT';
  font-size: 14px;
  color: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
  width: 290px;
  line-height: 24px;
}

.main-catalog-tabs .feature ul li .left-col i {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 17px;
  background: url("../images/feature_icons.png") no-repeat;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon1 {
  background-position: 0 0;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon2 {
  background-position: 0 -32px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon3 {
  background-position: 0 -69px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon4 {
  background-position: 0 -133px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon5 {
  background-position: 0 -169px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon6 {
  background-position: 0 -209px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon7 {
  background-position: 0 -299px;
}

.main-catalog-tabs .feature ul li .left-col i.feature-icon8 {
  background-position: 0 -358px;
}

.main-catalog-tabs .feature ul li .right-col {
  font-family: 'Arial';
  font-size: 14px;
  color: #1a1a1a;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  line-height: 24px;
}

.main-catalog-tabs .feature .feature-text {
  color: #1a1a1a;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 24px;
}

.main-catalog-tabs .feature .feature-text strong {
  font-weight: 700;
}

.main-catalog-tabs .product {
  padding-right: 130px;
}

.main-catalog-tabs .product .product-tite,
.main-catalog-tabs .product .product-tite-yellow {
  font-family: 'Arial-Black';
  color: #1a1a1a;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-catalog-tabs .product .product-tite-yellow {
  color: #ffba00;
}

.main-catalog-tabs .product p {
  font-family: 'Arial';
  color: #1a1a1a;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.main-catalog-tabs .product ul {
  margin-bottom: 25px;
}

.main-catalog-tabs .product ul li {
  font-family: 'Arial';
  color: #1a1a1a;
  font-size: 14px;
  padding-left: 27px;
  position: relative;
  margin-bottom: 10px;
}

.main-catalog-tabs .product ul li:before {
  position: absolute;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: #323232;
  border-radius: 50%;
  left: 0;
  top: 5px;
}

.main-catalog-tabs .reviews .reviews-block {
  padding-right: 130px;
  margin-bottom: 50px;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-icon {
  float: left;
  width: 46px;
  height: 34px;
  background: url("../images/quote.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 50px;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text {
  float: left;
  width: 89%;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text .reviews-block-author {
  margin-bottom: 20px;
  font-family: 'Arial-BoldMT';
  font-size: 16px;
  color: #1a1a1a;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text .reviews-block-author .rating-stars {
  clear: both;
  display: inline-block;
  margin-left: 30px;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text .reviews-block-author .rating-stars a {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url("../images/stars-rate.png") no-repeat;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text .reviews-block-author .rating-stars a.golden-star {
  background-position: 0 0;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text .reviews-block-author .rating-stars a.grey-star {
  background-position: -17px 0;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text p {
  font-family: 'Arial';
  font-size: 14px;
  color: #1a1a1a;
  line-height: 27px;
}

.main-catalog-tabs .reviews .reviews-block .reviews-block-text:last-child {
  margin-bottom: 90px;
}

.main-catalog-tabs .reviews .review-form {
  background-color: #fafafa;
  padding-top: 77px;
  padding-right: 160px;
  padding-bottom: 50px;
}

.main-catalog-tabs .reviews .review-form form {
  float: right;
  width: 467px;
}

.main-catalog-tabs .reviews .review-form form .review-form-title {
  margin-left: 34px;
  font-family: 'Arial-Black';
  font-size: 14px;
  text-transform: uppercase;
  color: #1a1a1a;
  margin-bottom: 25px;
}

.main-catalog-tabs .reviews .review-form form .review-form-input {
  color: #1a1a1a;
  font-size: 14px;
  font-family: 'Arial';
  padding-left: 35px;
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 14px;
}

.main-catalog-tabs .reviews .review-form form .review-form-text {
  color: #1a1a1a;
  font-size: 14px;
  font-family: 'Arial';
  padding-left: 35px;
  box-sizing: border-box;
  width: 100%;
  height: 310px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 14px;
  padding-top: 35px;
  resize: none;
}

.main-catalog-tabs .reviews .review-form form .rate-review .rating-stars {
  clear: both;
  display: inline-block;
  margin-right: 30px;
}

.main-catalog-tabs .reviews .review-form form .rate-review .rating-stars a {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url("../images/stars-rate.png") no-repeat;
}

.main-catalog-tabs .reviews .review-form form .rate-review .rating-stars a.golden-star {
  background-position: 0 0;
}

.main-catalog-tabs .reviews .review-form form .rate-review .rating-stars a.grey-star {
  background-position: -17px 0;
}

.main-catalog-tabs .reviews .review-form form .upload-photo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-catalog-tabs .reviews .review-form form .upload-photo a {
  display: block;
  width: 51px;
  height: 51px;
  background: url("../images/upload.png") no-repeat;
  margin: 0 auto 20px auto;
}

.main-catalog-tabs .reviews .review-form form .review-form-submit {
  width: 100%;
  height: 52px;
  border-radius: 5px;
  background-color: #ffba00;
  color: #fff;
  font-family: 'Arial-Black';
  font-size: 12px;
  color: #fff;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

.show-more-title {
  font-family: 'Arial-Black';
  margin-left: 70px;
  margin-bottom: 50px;
  clear: both;
}

/*END CATALOG ITEMS PAGE*/
/*CONTACTS*/
.contacts-bg {
  width: 100%;
  height: 270px;
  background: url("../images/contacts-bg.png") no-repeat center;
  background-size: cover;
}

.contacts-wrap {
  padding: 80px 130px;
  text-align: left;
}

.contacts-wrap .contacts-text {
  width: 440px;
  float: left;
}

.contacts-wrap .contacts-left-title {
  margin-top: 0;
  font-size: 24px;
}

.contacts-wrap p {
  font-family: 'Arial';
  color: #3d3d3d;
  line-height: 22px;
}

#map {
  width: 58%;
  height: 382px;
  float: right;
}

/*END CONTACTS*/
@media only screen and (max-width: 1377px) {
  header {
    padding: 0 20px;
  }
  .left-menu-wrapper ul li a {
    padding: 0 0px 0 10px;
  }
  .left-menu-wrapper ul li a i {
    width: 44px;
    margin-right: 17px;
  }
  .collection-wrap .collection-slider {
    padding: 0;
  }
  .collection-wrap .collection-slider .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0px;
  }
  .form-main {
    padding-left: 30px;
  }
  .seo-wrap .img-side {
    width: 30%;
  }
  .footer_bg .footer-list-bottom-block ul {
    margin: 0 20px;
  }
}
