@mixin absolute
	position: absolute
	content: '';
	display: block

@mixin anim
	-webkit-transition: all 0.8s ease
     -moz-transition: all 0.8s ease
     -o-transition: all .0.8s ease
     transition: all 0.8s ease

a,button,input[type="submit"] 
	&:hover
		@include anim

button,input[type="submit"]
	cursor: pointer
/*HEADER*/
header
	min-height: 84px
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.06)
	position: relative
	padding: 0 130px
	z-index: 99
	.logo
		float: left
		margin-top: 17px
		img
			height: 50px
	.top-menu
		float: left
		margin-left: 50px
		margin-top: 40px
		li
			display: inline-block
			margin-right: 20px
			a
				font-family: 'Arial'
				color: #1a1a1a
				font-size: 16px
				text-decoration: none
				&:hover
					color: #ffba00
			&:last-child
				margin-right: 0
	.basket
		float: right
		width: 249px
		height: 84px
		background-color: #2bb21d
/*END HEADER*/
/*LEFT MENU*/
.left-menu-wrapper 
	float: left
	width: 16.4142%
	ul
		width: 100%
		li
			display: table
			width: 100%
			a
				font-family: 'Arial'
				color: #fff
				font-size: 16px
				text-decoration: none
				border-bottom: 1px solid #23a622
				display: block
				height: 86px
				display: table-cell
				vertical-align: middle
				padding: 0 0px 0 40px
				position: relative
				background-color: #2bb21d
				i 
					width: 58px
					height: 40px
					display: inline-block
					background: url('../images/icons-right-left-menu.png')no-repeat
					vertical-align: middle
					margin-right: 33px
					position: relative
					&.icon-left1
						background-position: 0 5px
					&.icon-left2
						background-position: 0 -83px
					&.icon-left3
						background-position: 0 -171px
					&.icon-left4
						background-position: 0 -260px
					&.icon-left5
						background-position: 0 -346px
					&:before
						@include absolute
						width: 1px
						height: 40px
						background-color: #23a622
						right: 0
				&:hover
					background-color: #1e8c12
/*END LEFT MENU*/
/*MAIN SLIDER*/
.main-slider-wrap
	width: 83.47%
	float: left
	margin-bottom: 70px
	.bxslider
		li
			background: url('../images/slider-main-img.jpg')no-repeat top center
			background-size: cover
			.slider-text
				float: right
				min-width: 300px
				.slider-text-inside
					padding-top: 110px
					padding-right: 50px
					.title
						font-family: 'Arial-Black'
						font-size: 80px
						color: #1a1a1a
						background: url('../images/spot.png')no-repeat
						background-position: 0 10px
						text-align: center
						background-size: 100%

					.sub-title
						font-family: 'Arial-Black'
						color: #1a1a1a
						font-size: 16px
						margin: 20px 0
						padding-left: 55px
					li
						background: none
						color: #1a1a1a
						font-family: 'Arial';
						font-size: 16px
						font-weight: 400
						line-height: 47px
						height: auto !important
						padding-left: 55px
					hr
						background-color: #1a1a1a
						height: 2px
						border: none
						outline: none
						width: 198px
						float: right
						margin: 8px 0
					.total-weight
						font-family: 'Arial-Black'
						color: #1a1a1a
						font-size: 16px
						clear: both
						padding-left: 55px

/*END MAIN SLIDER*/
